<mat-card>
  <mat-card-header class="bg-primary-theme text-white">
    <mat-card-title>{{this.crear ? 'Nuevo Rubro' : 'Actualizar Rubro'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <form [formGroup]="this.form" (ngSubmit)="this.guardarRubro()">
		<mat-dialog-content>
        <div fxLayout="row wrap">

          <div fxFlex="100" class="m-t-10">
            <mat-form-field>
              <input matInput placeholder="Nombre:" autocomplete="false" formControlName="nombre" maxlength="30">
              <mat-hint class="text-light" align="end">{{this.form.get('nombre')?.value? this.form.get('nombre')?.value.length:0}} / 30</mat-hint>
              <mat-error *ngIf="this.form.get('nombre')?.hasError('required') && this.form.get('nombre')?.touched" class="text-danger font-11">Este campo es <strong>requerido</strong></mat-error>
              <mat-error *ngIf="this.form.get('nombre')?.hasError('minlength') && this.form.get('nombre')?.touched" class="text-danger font-11">Se requiere mínimo <strong>3 caracteres</strong></mat-error>
              <mat-error *ngIf="this.form.get('nombre')?.hasError('maxlength') && this.form.get('nombre')?.touched" class="text-danger font-11">Solo se admite máximo <strong>30 caracteres</strong></mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" class="m-t-10">
            <mat-form-field>
              <input matInput placeholder="Descripción:" autocomplete="false" formControlName="descripcion" maxlength="70">
              <mat-hint class="text-light" align="end">{{this.form.get('descripcion')?.value? this.form.get('descripcion')?.value.length:0}} / 70</mat-hint>
              <mat-error *ngIf="this.form.get('descripcion')?.hasError('maxlength') && this.form.get('descripcion')?.touched" class="text-danger font-11">Solo se admite máximo <strong>70 caracteres</strong></mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" class="m-t-10">
            <mat-form-field>
              <mat-select placeholder="Estado del Rubro" formControlName="estado">
                <mat-option *ngFor="let estado of this.listaEstado" [value]="estado">{{estado}}</mat-option>
              </mat-select>
              <mat-error *ngIf="this.form.get('estado')?.hasError('required') && this.form.get('estado')?.touched" class="text-danger font-11">Este campo es <strong>requerido</strong></mat-error>
            </mat-form-field>
          </div>

          <div fxFlex="100" class="m-t-10">
              <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label *ngIf="this.vistaPrevia">
                  <div><h3>Seleccionar imágen de rubro</h3></div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview [hidden]="!this.vistaPrevia" ngProjectAs="ngx-dropzone-preview" *ngFor='let f of this.files' [file]='f' [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label></ngx-dropzone-label>
                </ngx-dropzone-image-preview>
				        <img *ngIf="!this.vistaPrevia" id="vistaImagen" src="{{this.crear ? '' : this.data.rubro.imagenUrl}}" alt="" class="imagen">
              </div>
              <mat-error *ngIf="this.form.get('imagen')?.hasError('required') && this.form.get('imagen')?.touched" class="text-danger font-11">la imágen es <strong>requerida</strong></mat-error>
          </div>
          

        </div>
		</mat-dialog-content>
        <mat-card-actions fxLayoutAlign="end center" fxLayoutGap="5px" >
          <button mat-flat-button color="accent" type="submit">Guardar</button>
          <button mat-stroked-button color="warn" type="button" (click)="this.cancelar()">Cancelar</button>
        </mat-card-actions>
      </form>
  </mat-card-content>
</mat-card>

<ng-template #customNotification let-notificationData="notification">
    <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>

