<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Tabito Promociones <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>

</div>

<mat-accordion>
    <mat-expansion-panel class="panel-menu" *ngFor="let menuItem of menuItems.getMenuitem()">
        <mat-expansion-panel-header>
            <mat-panel-title class="item-title">
                <a class="" *ngIf="menuItem.tipo === 'modulo'" (click)="this.activar()" >
                    <mat-icon>{{ menuItem.icono }}</mat-icon> 
                    <span>{{ menuItem.nombre }}</span> 
                    <span fxFlex></span> 
                </a>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="">
            <mat-list-item  *ngFor="let subMenu of menuItem.inverseModulo" routerLinkActive="selected">
                <a class="" [routerLink]="['/',menuItem.urlModulo, subMenu.urlModulo]" *ngIf="subMenu.tipo === 'submodulo'">
                    <mat-icon>{{ subMenu.icono }}</mat-icon> 
                    <span>{{ subMenu.nombre }}</span> 
                    <span fxFlex></span> 
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-expansion-panel>
</mat-accordion>

