<clic-page [title]="'Listado de Rubros'" (reloadEmitter)="this.ngOnInit()">
  <div id="products" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">

      <!-- HEADER -->
      <div class="header" fxLayout="row wrap" fxLayoutAlign="center center">
        <!-- APP TITLE -->
        <div  [fxFlex]="this.flex"  fxLayoutAlign="start center">
          <div>
            <mat-icon class="logo-icon s-32 mr-16" >
              shopping_basket
            </mat-icon>
            <span class="text-white h1">
              Rubros
            </span>
          </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div [fxFlex]="this.flex" class="search-wrapper mx-32 mx-md-0">
          <div class="search" fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
            <input #filter placeholder="Buscar por rubros">
          </div>
        </div>
        <!-- / SEARCH -->

        <!-- ADD BUTTON -->
        <div [fxFlex]="this.flex" fxLayoutAlign="end center">
          <button mat-raised-button
                  (click)="this.crearRubro()"
                  class="add-button text-black mt-24 mt-md-0">
            <span>NUEVO RUBRO</span>
          </button>
        </div>
        <!-- / ADD BUTTON -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div fxLayout="row wrap">
        <div fxFlex="100" class="content-card">
            <ngx-datatable #table class="material"
                       [messages]="this.tableMessages()"
                       [columnMode]="'force'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [limit]='10'
                       [rows]="this.listaRubro"
                       [scrollbarH]="this.scrollH">
  
                <ngx-datatable-column name="Acciones" [minWidth]="150" [maxWidth]="240" [draggable]="false"
                                      [resizeable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button matTooltip="Actualizar Rubro" (click)="this.actualizarRubro(row)">
                      <mat-icon fxLayoutAlign="center center" color="accent">edit</mat-icon>
                    </button>

                    <button mat-icon-button matTooltip="Eliminar Rubro" (click)="this.eliminarRubro(row)">
                      <mat-icon fxLayoutAlign="start start" color="accent">delete</mat-icon>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
        
                <ngx-datatable-column name="Nombre" [draggable]="false" [resizeable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                    {{row.nombre}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Descripción" [draggable]="false" [resizeable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                    {{row.descripcion}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Imagen" [draggable]="false" [resizeable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template class="text-bottom">
                    <div width="50px" height="60px">
                      <img [src]="row.imagenUrl">
                    </div>
                  </ng-template>
                </ngx-datatable-column>

            </ngx-datatable>
        </div>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

  </div>
</clic-page>
<ng-template #customNotification let-notificationData="notification">
  <app-custom-notification [notificationData]="notificationData"></app-custom-notification>
</ng-template>

